<div class="container-fluid"> 
  <!-- BEGIN PAGE HEADER-->
  <div class="row-fluid">
    <div class="span12"> 
      <!-- BEGIN PAGE TITLE & BREADCRUMB-->
      <h3 class="page-title"> <small> </small> </h3>
      <ul class="breadcrumb">
        <li> <i class="icon-home"></i> <a>网站管理</a> <span class="icon-angle-right"></span> </li>
        <li> <a href="#">公共参数管理</a> <span class="icon-angle-right"></span> </li>
        <li><a href="#">产品类型列表</a></li>
      </ul>
      <!-- END PAGE TITLE & BREADCRUMB--> 
    </div>
  </div>
  <!-- END PAGE HEADER--> 
  <!-- BEGIN PAGE CONTENT-->
  <div class="row-fluid">
    <div class="span12">
      <div>
        <div>
          <div>
            <form action="" method="post">
              <table class="table table-striped table-bordered table-hover dataTable" id="product_1" >
                <thead>
                  <tr role="heading">
                    <th width="80" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">操作</th>
                    <th width="40" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">ID</th>
                    <th width="80" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">上级分类ID</th>
                    <th width="*" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">分类名</th>
                  </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                <{if $res_cat}>
                    <{foreach item = item from = $res_cat}>
                    <tr>
                      <td width="80"><a href="<{"cat/cat_list"|site_url}>?del_id=<{$item.id}>"  style="<{if $item.pid!=0}>margin-left:15px;<{/if}>"  
                       class="btn <{if $item.pid==0}>red<{/if}> mini">删除</a></td>
                      <td width="80"><{$item.id}><input type="hidden"  name="id[<{$item.id}>]" value="<{$item.id}>" /></td>
                      <td width="80"><{$item.pid}>
                      </td>
                      <td width="*"><input type="text"  name="cat[<{$item.id}>]" value="<{$item.cat}>" /></td>
                    </tr>
                    <{/foreach}>
                <{/if}>
                </tbody>
                <thead>
                  <tr role="heading">
                    <th colspan="4">
                    <input type="hidden" name="act" value="edit_cat" />
                     <button class="btn green" type="submit" style="float:left;"  name="edit_sub">修改分类</button>
                    </th>
                  </tr>
                </thead>
              </table>
            </form>
            <form action="" method="post">
              <table class="table table-striped table-bordered table-hover dataTable">
                <tr role="heading">
                  <th colspan="4"> <select class="form_2_select2 m-wrap" style="float:left;" name="new_pid">
                      <option value="0">顶级分类</option>
                      <{foreach item=item from=$res_cat}> <{if $item.pid==0}>
                      <option value="<{$item.id}>"><{$item.cat}></option>
                      <{/if}> <{/foreach}>
                    </select>
                    <div class="span2" >
                      <div class="input-append">
                        <input class="m-wrap small" style="border:1px solid red; background:#fff;" type="text" name="new_cat" value="">
                        <input type="hidden" name="act" value="add_cat" />
                        <button class="btn green" type="submit" name="new_sub">添加分类</button>
                      </div>
                    </div>
                  </th>
                </tr>
              </table>
            </form>
          </div>
          <!--show window--> 
          
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE CONTENT--> 
</div>
<link href="/static/css/jquery.fancybox.css" rel="stylesheet">
<script src="/static/js/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/datepicker.css">
<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script> 
<script>

function load_ini()
{
	bind_window();
	/* <{if $re.list}> */
	initTable1();
	/* <{/if}> */
	/*
	jQuery('.group-checkable').change(function () {
	  var set = jQuery(this).attr("data-set");
	  var checked = jQuery(this).is(":checked");
	  jQuery(set).each(function () {
		  if (checked) {
			  $(this).attr("checked", true);
		  } else {
			  $(this).attr("checked", false);
		  }
	  });
	  jQuery.uniform.update(set);
	});
	*/
	
}

</script> 