<div class="container-fluid"> 
  
  <!-- BEGIN PAGE HEADER-->
  
  <div class="row-fluid">
    <div class="span12">
      <h3 class="page-title"> <small> </small> </h3>
      <ul class="breadcrumb">
        <li> <i class="icon-home"></i> <a href="#">首页</a> </li>
      </ul>
    </div>
  </div>
  
  <!-- END PAGE HEADER--> 
  
  <!-- BEGIN PAGE CONTENT-->
  <div class="row-fluid">
    <div class="span12"> 
      <!-- BEGIN VALIDATION STATES-->
      <div class="row-fluid">
      	<p>1.待发货订单</p>
        <p>2.待审核订单</p>
        <p>3.待审核产品</p>
        <p>4.待审核供应商</p>
      </div>
      <!-- END VALIDATION STATES--> 
    </div>
  </div>
  
  <!-- END PAGE CONTENT--> 
  
</div>

