<div class="container-fluid">
<div class="row-fluid">
  <div class="span12">
    <div class="form"> <{*验证提示*}>
      <div id='alert-error_1' class="alert alert-error hide">
        <button class="close" data-dismiss="alert"></button>
        <span>提交失败</span> </div>
      <div id='alert-success_1' class="alert alert-success hide">
        <button class="close" data-dismiss="alert"></button>
        <span>提交成功</span> </div>
      <!-- BEGIN FORM-->
      <form action="" id="form_eidt" class="form-horizontal" method="post" >
        <table class="table table-bordered table-hover dataTable" id="table_1">
          <thead>
            <tr>
              <th bgcolor="#E2EEFE" colspan="99">订单信息</th>
            </tr>
          </thead>
          <tr>
            <th width="250px">订单编号：<{$re.id}></th>
            <th width="250px">分销商：<{$re.company}></th>
          </tr>
          <thead>
            <tr>
              <th bgcolor="#E2EEFE" colspan="99">订单信息修改</th>
            </tr>
          </thead>
          <tr>
            <td colspan="99"><div class="control-group" style="margin-top:20px;">
                <label class="control-label">流水号<span class="required">*</span></label>
                <div class="controls">
                  <input type="text"  value="<{$re.order.cashflow_id}>"  readonly="readonly" class="m-wrap" >
                </div>
              </div>
              
              <div class="control-group" style="margin-top:20px;">
                <label class="control-label">支付款方<span class="required">*</span></label>
                <div class="controls">
                  <input type="text"  value="<{$re.order.payor}>"  readonly="readonly" class="m-wrap" >
                </div>
              </div>
              
              <div class="control-group" style="margin-top:20px;">
                <label class="control-label">实际到账金额<span class="required">*</span></label>
                <div class="controls">
                  <input type="text" name="payment_money"  value="<{$re.order.logcs_price+$re.order.product_price-$re.order.not_pay_money}>"   class="m-wrap" >
                </div>
              </div>
              
              <div class="control-group" style="margin-top:20px;">
                <label class="control-label">合计费用<span class="required">*</span></label>
                <div class="controls">
                  <input type="text"  value="<{$re.order.logcs_price+$re.order.product_price-$re.order.not_pay_money}>"  readonly="readonly" class="m-wrap" >
                  <p style="display: inline-block;margin-top: 10px;">(其中，订单总价：¥<{$re.order.product_price}>,订单运费：¥<{$re.order.logcs_price}>,已作废金额：¥<{$re.order.not_pay_money}> )</p>
                </div>
              </div>
              
              <{if $re.order.AccountPeriod_status==2}>
               <div class="control-group" style="margin-top:20px;">
                <label class="control-label">账期<span class="required">*</span></label>
                <div class="controls">
                  <input type="text"  value="<{$re.order.AccountPeriod_End_Time}>"  readonly="readonly" class="m-wrap" >
                </div>
              </div>
              <{/if}>
              <div class="control-group" style="margin-top:20px;">
                <label class="control-label">付款状态<span class="required">*</span></label>
                <div class="controls">
                  <select name="payment_status">
                    <option value=''>请选择</option>
                    <option <{if $re.order.payment_status==2}>selected="selected"<{/if}> value="2">确认付款
                    </option>
                    <option <{if $re.order.payment_status==0}>selected="selected"<{/if}> value="0">未付款
                    </option>
                  </select>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <input type="hidden" name="id" value="<{$re.id}>"/>
        <div class="form-actions">
          <button type="button" id='submit_eidt' class="btn red">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="/static/js/jquery.validate.min.js?v=<{$vsersion}>"></script> 
<script>

        var error1=$('#alert-error_1');
        var success1=$('#alert-success_1');
        var form1 = $('#form_eidt');
        form1.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-inline', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "",
            rules: {
                payment_status: {
                    required: true
                }

            },
            messages : {
                payment_status: {
                    required: '付款状态不能为空'
                }



            }
            ,
            invalidHandler: function (event, validator) { //display error alert on form submit
                success1.hide();
                error1.find('span').html('请完善提交内容再提交');
                error1.show();
                App.scrollTo(error1, -200);
            },

            highlight: function (element) { // hightlight error inputs
                $(element)
                        .closest('.help-inline').removeClass('ok'); // display OK icon
                $(element)
                        .closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
            },

            unhighlight: function (element) { // revert the change dony by hightlight
                $(element)
                        .closest('.control-group').removeClass('error'); // set error class to the control group
            },

            success: function (label) {
                label.addClass('valid').addClass('help-inline ok') // mark the current input as valid and display OK icon
                        .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
            },
            submitHandler: function (form) {
                /*
                 $.post("?m=<{$smarty.get.m}>&s=<{$smarty.get.s}>&act_ajax=1",form1.serialize(),function(msg){
                 success1.hide();
                 if(msg==1)
                 {
                 success1.find('span').html('订阅成功');
                 success1.show();
                 }
                 else
                 {
                 error1.find('span').html(msg);
                 error1.show();
                 }
                 });
                 */
            }
        });

        $("#submit_eidt").click(function(){
            if(form1.valid()==true)
            {
                $modal=$('#ajax-modal');
                error1.hide();
                success1.show();
                success1.find('span').html('正在提交...........');
                $('body').modalmanager('loading');
                $.post('<{"order/order_confirm_done"|site_url}>',form1.serialize(),function(msg)
                {
                    try
                    {
                        eval("var str="+msg);
                        //操作成功
                        if(str.type==1)
                        {
                            //错误提示
                            error1.show();
                            success1.hide();
                            error1.find('span').html(str.msg);
                        }
                        else if(str.type==2)
                        {
                            //提交成功
                            error1.hide();
                            success1.show();
                            success1.find('span').html('提交成功');
                            location.reload();
                        }
                        else if(str.type==3)
                        {
                            //刷新主页面
                           window.parent.location.reload(true);
                            return true;
                        }
                        setTimeout(function()
                        {
                            $modal.load('<{"admin_index/admin_msg"|site_url}>?msg='+encodeURI(str.msg),'', function()
                            {
                                $modal.modal();
                            });
                        }, 300);
                    }
                    catch(e)
                    {
                        $('body').modalmanager('removeLoading');
                        success1.hide();
                        error1.find('span').html('系统异常');
                        error1.show();
                    };
                });
            }
        });


    </script>