<div class="container-fluid"> 
  <!-- BEGIN PAGE HEADER-->
  <div class="row-fluid">
    <div class="span12"> 
      <!-- BEGIN PAGE TITLE & BREADCRUMB-->
      <h3 class="page-title"> <small> </small> </h3>
      <ul class="breadcrumb">
        <li> <i class="icon-home"></i> <a>首页</a> <span class="icon-angle-right"></span> </li>
        <li> <a href="#">订单管理</a> <span class="icon-angle-right"></span> </li>
        <li><a href="#">供应商订单</a></li>
      </ul>
      <!-- END PAGE TITLE & BREADCRUMB--> 
    </div>
  </div>
  <!-- END PAGE HEADER--> 
  <!-- BEGIN PAGE CONTENT-->
  <div class="row-fluid">
    <div class="span12">
      <div class="portlet box blue">
        <div class="portlet-title">
          <div class="caption"><i class="icon-search"></i>供应商订单搜素</div>
          <div class="tools"> <a href="javascript:;" class="collapse"></a> </div>
        </div>
        <div class="portlet-body" style="display: block;">
          <div id="sample_1_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <form action="" method="get" onsubmit="return load_sub();" id="form1">
              <div class="row-fluid"> <span class="span1" style="display:block;">
                <div id="span_label">每页显示</div>
                </span>
                <div class="span3" style="margin-left:0px;">
                  <select size="1" name="search_page_num" aria-controls="sample_1" class="form_2_select2 m-wrap span5">
                    <option <{if $smarty.get.search_page_num=='all'}>selected="selected"<{/if}> value="all">每页显示
                    </option>
                    <option <{if $smarty.get.search_page_num=='1'}>selected="selected"<{/if}>  value="1">15
                    </option>
                    <option <{if $smarty.get.search_page_num=='2'}>selected="selected"<{/if}>  value="2">30
                    </option>
                    <option <{if $smarty.get.search_page_num=='3'}>selected="selected"<{/if}>  value="3">50
                    </option>
                  </select>
                </div>
                <span class="span1" style="display:block;">
                <div id="span_label">发货状态</div>
                </span>
                <div class="span3" style="margin-left:0px;">
                  <select size="1" id="form_2_select2"  name="search_delivery_status" aria-controls="sample_1" class="form_2_select2 m-wrap span5">
                    <option value="all" >所有状态</option>
                    <{foreach item = v  key = k from = $delivery_status}>
                     <option <{if isset($smarty.get.search_delivery_status) && $smarty.get.search_delivery_status== $k && $smarty.get.search_delivery_status!='all'}>selected = "selected"<{/if}> value = "<{$k}>"><{$v}>
                    </option>
                    <{/foreach}>
                  </select>
                </div>
              </div>
              <div class="row-fluid" style="margin-top:20px;"> <span class="span1" style="display:block;">
                <div id="span_label">发货开始时间</div>
                </span>
                <div class="span3" style="margin-left:0px;">
                  <div class="controls">
                    <div class="input-append date date-picker" data-date="<{$smarty.get.search_stime}>" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                      <input  name="search_stime" class="m-wrap m-ctrl-medium date-picker small" size="16" type="text"
                                                    value="<{$smarty.get.search_stime}>">
                      <span class="add-on"><i class="icon-calendar"></i></span> </div>
                  </div>
                </div>
                <span class="span1" style="display:block;">
                <div id="span_label">结束时间</div>
                </span>
                <div class="span3" style="margin-left:0px;">
                  <div class="controls">
                    <div class="input-append date date-picker" data-date="<{$smarty.get.search_etime}>" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                      <input  name="search_etime" class="m-wrap m-ctrl-medium date-picker small" size="16" type="text" value="<{$smarty.get.search_etime}>">
                      <span class="add-on"><i class="icon-calendar"></i></span> </div>
                      <button class="btn red reconciliation" data-action="reconciliation"  data-url="<{'order/reconciliation_no'|site_url}>"  type="button">生成对账号</button>
                  </div>
                </div>
              </div>
              <div class="row-fluid" style="margin-top:20px; "> <span class="span1" style="display:block;">
                <div id="span_label">对账状态</div>
                </span>
                <div class="span3" style="margin-left:0px;">
                  <select size="1" id="form_2_select2"  name="search_reconciliation_status" aria-controls="sample_1" class="form_2_select2 m-wrap span5">
                    <option value="all"  >所有状态</option>
                    <{foreach item = v  key = k from = $reconciliation_status}> <option <{if isset($smarty.get.search_reconciliation_status) && $smarty.get.search_reconciliation_status == $k &&  $smarty.get.search_reconciliation_status!='all'}>selected = "selected"<{/if}> value = "<{$k}>"><{$v}>
                    </option>
                    <{/foreach}>
                  </select>
                </div>
                  <span class="span1" style="display:block;">
                <div id="span_label">对账单号</div>
                </span>
                  <div class="span6" style="margin-left:0px;">
                      <input type="text"  name="search_reconciliation_no"   value="<{$smarty.get.search_reconciliation_no}>" class="m-wrap small"/>
                      <button class="btn red " style="margin-left: 25px;" onclick="return confirm('确认导出数据吗');" name="export" type="submit">导出对账单</button>
                      <button class="btn red "  onclick="return confirm('确认导出数据吗');" name="export1" type="submit">导出核算单</button>
                  </div>
              </div>
              <div class="row-fluid" style="margin-top:20px; ">
                  <span class="span1" style="display:block;">
                <div id="span_label">订单编号</div>
                </span>
                  <div class="span3" style="margin-left:0px;">
                      <input type="text"  name="search_order_id"   value="<{$smarty.get.search_order_id}>" class="m-wrap small"/>
                      <button class="btn green" type="submit">Search</button>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div>
        <div>
          <div>
            <form action="" method="post">
              <table class="table table-striped table-bordered table-hover dataTable" id="product_1" >
                <thead>
                  <tr role="heading">
                    <th width="60" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">操作</th>
                    <th width="100" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">订单号</th>
                    <th width="60"  class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">发货状态</th>
                    <th width="60" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">对账状态</th>
                    <th width="120" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">对账号</th>
                    <th width="80" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">订单金额</th>
                    <th width="80" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">运费</th>
                    <th width="120" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">收货人手机</th>
                    <th  width="120" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">收货人姓名</th>
                    <th width="*" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">收获地址</th>
                    <th width="120" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">发货时间</th>
                    <th width="120" class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample_1">运单号</th>
                  </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                <{if $re.list}>
                <{foreach item = item from = $re.list}>
                <tr >
                  <td><button type="button" data-action="check_info" data-id="<{$item.id}>" data-box-size="800|300" class="btn mini blue order_detail">查看</button></td>
                  <td ><{$item.order_id}></td>
                  <td ><{$item.delivery_status|f_get_status:delivery_status}></td>
                  <td><{$item.reconciliation_status|f_get_status:reconciliation_status}></td>
                  <td><{$item.reconciliation_no}></td>
                  <td ><{$item.sp_total}></td>
                  <td ><{$item.logcs_price}></td>
                  <td ><{$item.consignee_mobile}></td>
                  <td ><{$item.consignee}></td>
                  <td ><{$item.consignee_address}></td>
                  <td><{$item.delivery_time}></td>
                  <td><{$item.logcs_num}></td>
                </tr>
                <{/foreach}>
                <{else}>
                <tr>
                  <td colspan="99">暂时无数据</td>
                </tr>
                <{/if}>
              </table>
              <div class="row-fluid">
                <div class="span6"> </div>
                <div class="clear"></div>
                <div class="span6">
                  <div class="dataTables_paginate paging_bootstrap pagination"> <{$re.page}> </div>
                </div>
              </div>
            </form>
          </div>
          <!--show window--> 
          
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE CONTENT--> 
</div>
<link href="/static/css/jquery.fancybox.css" rel="stylesheet">
<script src="/static/js/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/datepicker.css">
<script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script> 
<script>

    $('.date-picker').datepicker({
        format:'yyyy-mm-dd',
        language: 'cn',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 0,
        startView: 0,
        forceParse: 0,
        showMeridian: 1
    });

    $('.form_2_select2').select2({
        placeholder: "请选择",
        allowClear: true
    });
    var bind_window=function()
    {
        App.initFancybox();
        $.fn.modalmanager.defaults.resize = true;
        $.fn.modalmanager.defaults.spinner = '<div class="loading-spinner fade" style="width: 200px; margin-left: -100px;"><img src="/static/ajax-modal-loading.gif" align="middle">&nbsp;<span style="font-weight:300; color: #eee; font-size: 18px; font-family:Open Sans;">&nbsp;Loading...</div>';
        var $modal = $('#ajax-modal');
        $('#product_1 .order_detail').each(function(index, element) {
            var  select_id=$(this).attr('data-id');
            var  size = $(this).attr('data-box-size').split("|");
            var  action = $(this).attr('data-action');
            if(action=='check_info')
            {
                $(this).on('click', function(){
                    // create the backdrop and wait for next modal to be triggered
                    $('body').modalmanager('loading');
                    setTimeout(function(){
                        $.fn.modal.defaults.width  = size[0]+'px';
                        $.fn.modal.defaults.height = size[1]+'px';
                        $modal.load("<{'order/sp_order_info'|site_url}>?id="+ select_id, '', function(){
                            $modal.modal();
                            //$modal.css('margin-top','0');
                        });
                    }, 100);
                });
            }
           


        });
    }


    //row-details row-details-close
    var initTable1 = function() {
        /* Formating function for row details */


        /*
         * Insert a 'details' column to the table
         */


        var oTable = $('#product_1').dataTable( {
            "aoColumnDefs": [
                {"bSortable": false, "aTargets": [ 0 ] }
            ],
            "aaSorting": [[1, 'asc']],
            "aLengthMenu": [
                [5, 15, 20, -1],
                [5, 15, 20, "All"] // change per page values here
            ],
            "oLanguage": {
                "sProcessing": "正在加载中......",
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "正在加载中......",
                "sEmptyTable": "查询无数据！",
                "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                "sInfoEmpty": "显示0到0条记录",
                "sInfoFiltered": "数据表中共为 _MAX_ 条记录",
                "sSearch": "当前页数据搜索",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "末页"
                }
            },
            "bSort":false,
            "bInfo":false,
            "bPaginate":false,
            "bAutoWidth":true,
            "bStateSave":false,
            "sScrollX":'100%',
            //"sScrollY":"300px",
            // set the initial value
            "iDisplayLength": 10,
            //'sScrollXInner':true,
            //"bSortCellsTop":true,
        });


    }


    function load_ini()
    {
        bind_window();
        reconciliation();
        /* <{if $re.list}> */
        initTable1();
        /* <{/if}> */
        /*
         jQuery('.group-checkable').change(function () {
         var set = jQuery(this).attr("data-set");
         var checked = jQuery(this).is(":checked");
         jQuery(set).each(function () {
         if (checked) {
         $(this).attr("checked", true);
         } else {
         $(this).attr("checked", false);
         }
         });
         jQuery.uniform.update(set);
         });
         */

    }
    //对账单
    var reconciliation=function()
    {
        $('.reconciliation').bind('click',function(){
            $modal=$('#ajax-modal');
            $('body').modalmanager('loading');
            $.fn.modal.defaults.width='';
            $.fn.modal.defaults.height='';
            var url=$(this).attr('data-url');
            var action=$(this).attr('data-action');
            $.post(url,$('#form1').serialize(),function(msg){
                try
                {
                   // alert(msg);
                    eval("var str="+msg);
                    //操作成功
                    if(str.type==1)
                    {

                    }
                    else if(str.type==2)
                    {


                    }
                    else if(str.type==3)
                    {
                        //刷新主页面
                        f_main_index();
                        return true;
                    }
                    setTimeout(function(){
                        $modal.load('<{"admin_index/admin_msg"|site_url}>?msg='+encodeURI(str.msg),'', function(){
                            $modal.modal();
                        });
                    }, 300);
                }catch(e){

                    $('body').modalmanager('removeLoading');
                    setTimeout(function(){
                        $modal.load('<{"admin_index/admin_msg"|site_url}>?msg='+encodeURI('系统异常'),'', function(){
                            $modal.modal();
                        });
                    }, 300);
                };
            });
        });
    }

</script>