<div class="container-fluid">

    <!-- BEGIN PAGE HEADER-->

    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title"> <small> </small> </h3>
            <ul class="breadcrumb">
                <li> <i class="icon-home"></i> <a>首页</a> <span class="icon-angle-right"></span> </li>
                <li> <a href="#">账户管理</a> <span class="icon-angle-right"></span> </li>
                <li><a href="#">提交企业资料</a></li>
            </ul>
        </div>
    </div>

    <!-- END PAGE HEADER-->

    <!-- BEGIN PAGE CONTENT-->

    <div class="row-fluid">
        <div class="span12">

            <!-- BEGIN VALIDATION STATES-->

            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-reorder"></i>用户资料编辑</div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action=""  id="sp_info" class="form-horizontal"  >
                        <{*验证提示*}>
                        <div id='alert-error_1' class="alert alert-error hide">
                            <button class="close" data-dismiss="alert"></button>
                            <span>提交失败</span> </div>
                        <div id='alert-success_1' class="alert alert-success hide">
                            <button class="close" data-dismiss="alert"></button>
                            <span>提交成功</span> </div>
                        <div class="control-group">
                            <label class="control-label">登陆账户<span class="required">*</span></label>
                            <div class="controls">
                                <span class="help-inline no-left-padding"><{$re.user}></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">公司名称<span class="required">*</span></label>
                            <div class="controls">
                                <input type="text" name="company" value="<{$re.company}>" <{if $re.status==3}> disabled="disabled"<{/if}>>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">公司电话<span class="required">*</span></label>
                            <div class="controls">
                                <input type="text" name="mobile" value="<{$re.mobile}>" <{if $re.status==3}> disabled="disabled"<{/if}>>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">公司地址<span class="required">*</span></label>
                            <div class="controls">
                                <input type="text" name="address" value="<{$re.address}>" <{if $re.status==3}> disabled="disabled"<{/if}>>
                            </div>
                        </div>
                        <{if $re.status==3}>
                        <div class="control-group">
                            <label class="control-label">营业执照<span class="required">*</span></label>
                            <div class="controls" >
                                <div  style="width:300px; height:300px; border:1px solid red; display:block;"> <img width="100%"  id='upload_pic_bg' src="<{$re.permit_pic|get_company_img_url}>"/> </div>
                            </div>
                        </div>
                        <{else}>
                        <div class="control-group">
                            <label class="control-label">营业执照<span class="required">*</span></label>
                            <div class="controls" >
                                <div  style="width:300px; height:300px; border:1px solid red; display:block;"> <img width="100%"  id='upload_pic_bg' src="<{$re.permit_pic|get_company_img_url}>"/> </div>
                                <span class="btn"  id='upload_image' style="width:300px;padding:0px; ">上传主图</span>
                                <input  type="hidden"  id='upload_pic' name="pic" value="<{$re.permit_pic|get_company_img_url:2}>"/>
                            </div>
                        </div>
                        <{/if}>
                        <{if $re.status!=3}>
                        <div class="form-actions">
                            <input type="hidden" name="id" value="<{$re.id}>">
                            <span id="submit_sp_info"   class="btn green">提交审核</span>
                        </div>
                        <{/if}>

                    </form>
                    <!-- END FORM-->
                </div>
            </div>
            <!-- END VALIDATION STATES-->
        </div>
    </div>

    <!-- END PAGE CONTENT-->

</div>
<script type="text/javascript" src="/static/js/jquery.validate.min.js?v=<{$vsersion}>"></script>
<script>

    var server_auth="<{$ueditor_auth}>";
</script>
<script>
    function  set_back_pic(pic)
    {
        $('#upload_pic').val(pic);
        $('#upload_pic_bg').attr('src',pic);
        $('body').modalmanager('removeLoading');
    }
    function load_ini()
    {

        $('#upload_image').bind('click',function(){
            $.fn.modal.defaults.width='80%';
            $.fn.modal.defaults.height='400px';
            $modal=$('#ajax-modal');
            $modal.load('<{1|get_ueditor_image_url}><{$ueditor_auth}>','', function(){
                $modal.modal();
            });
        });


        var error1=$('#alert-error_1');
        var success1=$('#alert-success_1');

        var form1 = $('#sp_info');
        form1.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-inline', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "",
            rules: {
                company: {
                    required: true
                }
                ,
                mobile: {
                    required: true
                }
                ,
                address: {
                    required: true
                }
                ,
                pic: {
                    required: true
                }

            },
            messages : {
                company:{
                    required:'公司名称'
                }
                ,
                mobile: {
                    required: '公司电话'
                }
                ,
                address: {
                    required: '公司地址'
                }
                ,
                pic: {
                    required: '营业执照'
                }

            }
            ,
            invalidHandler: function (event, validator) { //display error alert on form submit
                success1.hide();
                error1.find('span').html('请完善提交内容再提交');
                error1.show();
                App.scrollTo(error1, -200);
            },

            highlight: function (element) { // hightlight error inputs
                $(element)
                        .closest('.help-inline').removeClass('ok'); // display OK icon
                $(element)
                        .closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
            },

            unhighlight: function (element) { // revert the change dony by hightlight
                $(element)
                        .closest('.control-group').removeClass('error'); // set error class to the control group
            },

            success: function (label) {
                label.addClass('valid').addClass('help-inline ok') // mark the current input as valid and display OK icon
                        .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
            },
            submitHandler: function (form) {
                /*
                 $.post("?m=<{$smarty.get.m}>&s=<{$smarty.get.s}>&act_ajax=1",form1.serialize(),function(msg){
                 success1.hide();
                 if(msg==1)
                 {
                 success1.find('span').html('订阅成功');
                 success1.show();
                 }
                 else
                 {
                 error1.find('span').html(msg);
                 error1.show();
                 }
                 });
                 */
            }
        });


        $('#submit_sp_info').click(function(){

            if(form1.valid()==true)
            {

                //encodeURI(msg)
                $modal=$('#ajax-modal');
                error1.hide();
                success1.show();
                success1.find('span').html('正在提交...........');
                $('body').modalmanager('loading');
                $.post('<{"user/info_edit"|site_url}>',form1.serialize(),function(msg){
                    try
                    {
                        //alert(msg);
                        eval("var str="+msg);
                        //操作成功
                        if(str.type==1)
                        {
                            //错误提示
                            error1.show();
                            success1.hide();
                            error1.find('span').html(str.msg);
                        }
                        else if(str.type==2)
                        {
                            //提交成功
                            error1.hide();
                            success1.show();
                            success1.find('span').html('提交成功');
                        }
                        else if(str.type==3)
                        {
                            //刷新主页面
                           window.location='';
                            return true;
                        }
                        setTimeout(function(){
                            $modal.load('<{"sp_index/sp_msg"|site_url}>?msg='+encodeURI(str.msg),'', function(){
                                $modal.modal();
                            });
                        }, 300);
                    }catch(e){
                        $('body').modalmanager('removeLoading');
                        success1.hide();
                        error1.find('span').html('系统异常');
                        error1.show();
                    };
                });
            }
        });
    }

</script>