<div class="modal-body">
    <div class="tabbable tabbable-custom">
        <div class="tab-content">
            <div class="container-fluid">
                <!-- BEGIN PAGE CONTENT-->
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action=""  class="form-horizontal" method="post"  id='form_remark'>
                        <div id="delivery" >
                            <div class="control-group">
                                <label class="control-label">流水单号<span class="required">*</span></label>
                                <div class="controls ">
                                    <p><{$res.cashflow_id}></p>
                                </div>
                            </div>
                        </div>
                        <div id="no_delivery">
                            <div class="control-group">
                                <label class="control-label">备注信息<span class="required">*</span></label>
                                <div class="controls ">
                                    <p><{$res.remark}></p>
                                </div>
                            </div>
                        </div>

                    </form>
                    <!-- END FORM-->
                </div>
                <!-- END PAGE CONTENT-->
            </div>

        </div>
    </div>
</div>


