<div class="modal-header" style="height:30px; background:#000;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:#FFF; height:1em; line-height:1em; width:1em;">x</button>
    <h4 style="color:#fff; margin-top:5px;">
        【订单<{$re.id}>--发货】
    </h4>
</div>
<div class="modal-body">
    <div class="tabbable tabbable-custom">
        <div class="tab-content">
            <div class="container-fluid">
                <!-- BEGIN PAGE CONTENT-->
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action=""  class="form-horizontal" method="post"  id='form_remark'>
                        <{*验证提示*}>
                        <div id='alert-error_1' class="alert alert-error hide">
                            <button class="close" data-dismiss="alert"></button>
                            <span>提交失败</span></div>
                        <div id='alert-success_1' class="alert alert-success hide">
                            <button class="close" data-dismiss="alert"></button>
                            <span>提交成功</span></div>
                        <div class="control-group">
                            <label class="control-label">订单详情<span class="required">*</span></label>
                            <div class="controls ">
                                <h6>订单总重：<{$re.sp_order.logcs_total_weight}>克</h6>
                                <h6>订单运费：<{$re.sp_order.logcs_price}>¥</h6>
                                <h6>收货姓名：<{$re.order.consignee}></h6>
                                <h6>收货电话：<{$re.order.consignee_mobile}></h6>
                                <h6>收货地址：<{$re.order.consignee_address}></h6>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">备注信息<span class="required">*</span></label>
                            <div class="controls ">
                                <input type='hidden' name='id' value="<{$re.id}>">
                                <textarea class="span5" name="remark" id="" cols="40" rows="10"></textarea>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
                <!-- END PAGE CONTENT-->
            </div>

        </div>
    </div>
</div>

<div class="modal-footer">

    <button type="button"  class="btn green " id="df_submit">提交</button>
    <button type="button" data-dismiss="modal" class="btn">Close</button>
</div>
<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
<script>

    var error1=$('#alert-error_1');
    var success1=$('#alert-success_1');

    var form1 = $('#form_remark');
    form1.validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-inline', // default input error message class
        focusInvalid: false, // do not focus the last invalid input
        ignore: "",
        rules: {
            remark:{
                required:true
            }


        },
        messages : {
            remarl:{
                required:'备注信息不能为空'
            }


        }
        ,
        invalidHandler: function (event, validator) { //display error alert on form submit
            success1.hide();
            error1.find('span').html('请完善提交内容再提交');
            error1.show();
            App.scrollTo(error1, -200);
        },

        highlight: function (element) { // hightlight error inputs
            $(element)
                    .closest('.help-inline').removeClass('ok'); // display OK icon
            $(element)
                    .closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
        },

        unhighlight: function (element) { // revert the change dony by hightlight
            $(element)
                    .closest('.control-group').removeClass('error'); // set error class to the control group
        },

        success: function (label) {
            label.addClass('valid').addClass('help-inline ok') // mark the current input as valid and display OK icon
                    .closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
        },
        submitHandler: function (form) {
            /*
             $.post("?m=<{$smarty.get.m}>&s=<{$smarty.get.s}>&act_ajax=1",form1.serialize(),function(msg){
             success1.hide();
             if(msg==1)
             {
             success1.find('span').html('订阅成功');
             success1.show();
             }
             else
             {
             error1.find('span').html(msg);
             error1.show();
             }
             });
             */
        }
    });

    $('#df_submit').bind('click',function(){
        if(form1.valid()==true){
            $modal = $('#ajax-modal');
            $('body').modalmanager('loading');
            $.fn.modal.defaults.width='';
            $.fn.modal.defaults.height='';
            $.post('<{"order/order_wuhuo"|site_url}>',$('#form_remark').serialize(),function(msg){
                try
                {
                    alert(msg);
                    eval("var str="+msg);
                    //操作成功
                    if(str.type==1)
                    {

                    }
                    else if(str.type==2)
                    {

                    }
                    else if(str.type==3)
                    {
                        //刷新主页面
                        //f_main_index();

                    }
                    setTimeout(function(){
                        $modal.load('<{"sp_index/sp_msg"|site_url}>?ss=2&msg='+encodeURI(str.msg),'', function()
                        {
                            $modal.modal();
                        });
                    }, 300);
                }
                catch(e)
                {

                    $('body').modalmanager('removeLoading');
                    alert(msg);
                    setTimeout(function(){
                        $modal.load('<{"sp_index/sp_msg"|site_url}>?ss=2&msg='+encodeURI('系统异常'),'', function()
                        {
                            $modal.modal();
                        });
                    }, 300);
                };
            });
        }

    });











</script>

